body {
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
}

#alertOverlay {
	border-radius: 15px;
	margin: 5px;
	padding: 16px;
	box-sizing: border-box;

	/*https://stackoverflow.com/questions/35990304/how-to-position-overlay-fixed-div-to-the-center-with-css*/
	position:fixed;
	top:300px;
	left:50%;
	transform:translate(-50%, -50%);
	z-index: 10000;
	border: 3px solid #743f39;

	width:480px;
	height:120px;
	font-size:48px;
	background-color: #ffeecc;
	
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:pointer; 
	user-select: none;
	font-variant: small-caps;
}

#main{
	border: 2px solid green;
	overflow-x: scroll;;
}

table#maintable {
	white-space: nowrap;
	border-spacing: 0px;
	border:2px solid black;
	padding: 1em;
}

table#maintable td {
	cursor: default;
	user-select: none;
	position: relative;

	padding: 0px;
	margin: 0px;
}

table#maintable td .cell {
	margin:0px;
	width: 70px;
	height: 70px;
	aspect-ratio: 1 / 1 ;

	display: flex;
	justify-content: center;
}

table#maintable td .cell img {
	max-width: 80px;
	max-height: 160px;

	/* align bottom of img with bottom of cell */
	position: absolute;
	bottom: 0%;
}

.lightcell {
	background-color: #ffcc77;
}
.darkcell {
	background-color: #552222;
}
.lightcell.selectable {
	background-color: #aaaaaa;
}
.darkcell.selectable {
	background-color: #777777;
}
.alreadymoved {
	filter: contrast(0.2);
}

.impassable {
	background-color: #000000;
}
.goal {
	background-color: #88cc33;
	background-image: url("img/star.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.shieldedphysical {
	background-image: url("img/shield.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.lightcell.shieldedphysical {
	background-color: #dd6666;
}
.darkcell.shieldedphysical {
	background-color: #880000;
}
.shieldedmagical {
	background-image: url("img/book.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.lightcell.shieldedmagical {
	background-color: #6666dd;
}
.darkcell.shieldedmagical {
	background-color: #000088;
}