body {
	background-color: #cccccc;
	padding: 0px;
	margin: 0px;
}

h1, h2 {
	text-align: center;
	font-variant: small-caps;
}

#alertOverlay {
	border-radius: 15px;
	margin: 5px;
	padding: 16px;
	box-sizing: border-box;
	text-align: center;

	/*https://stackoverflow.com/questions/35990304/how-to-position-overlay-fixed-div-to-the-center-with-css*/
	position:fixed;
	top:300px;
	left:50%;
	transform:translate(-50%, -50%);
	z-index: 10000;
	border: 3px solid #743f39;

	width:680px;
	height:200px;
	font-size:48px;
	background-color: #ffeecc;
	
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:pointer; 
	user-select: none;
	font-variant: small-caps;
}

#cutsceneOverlay {
	border-radius: 15px;
	margin: 5px;
	padding: 16px;
	box-sizing: border-box;
	text-align: center;

	/*https://stackoverflow.com/questions/35990304/how-to-position-overlay-fixed-div-to-the-center-with-css*/
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	z-index: 10001;
	border: 3px solid #743f39;

	width:80%;
	height:80%;
	font-size:48px;
	background-color: #ffeecc;
	cursor:pointer; 
}

#cutsceneOverlay #marcius {
	width: 15%;
	height: 40%;
	float:left;
	padding-left:30%;
	margin:0;
}
#cutsceneOverlay #latisha {
	width: 15%;
	height: 40%;
	float:right;
	padding-right:30%;
	margin:0;
}
#cutsceneOverlay img {
	height: 100%;
}
.clear {
	clear:both;
}
#cutsceneOverlayText {
	float:left;
	width: 100%;
	height: 60%;
	background-color: #ccbb88;
	border-radius: 15px;
	margin: 5px;
	padding: 32px;
	box-sizing: border-box;
	text-align: left;
	font-size: 36px;
}

#main{
	overflow-x: scroll;
	width: 100%;
}

table#maintable {
	background-color: #ffffff;
	white-space: nowrap;
	border-spacing: 0px;
	border:2px solid black;
	padding: 1em;
	margin: 0 auto;
}

table#maintable td {
	cursor: default;
	user-select: none;
	position: relative;

	padding: 0px;
	margin: 0px;
}

table#maintable td .cell {
	margin:0px;
	width: 70px;
	height: 70px;
	aspect-ratio: 1 / 1 ;

	display: flex;
	justify-content: center;
}

table#maintable td .cell img {
	max-width: 75px;
	max-height: 150px;

	/* align bottom of img with bottom of cell */
	position: absolute;
	bottom: 0%;
}

.lightcell {
	background-color: #ffcc77;
}
.darkcell {
	background-color: #552222;
}
.lightcell.selectable {
	background-color: #aaaaaa;
}
.darkcell.selectable {
	background-color: #777777;
}
.alreadymoved {
	filter: contrast(0.2);
}

.impassable {
	/*background-color: #000000;*/
	background-image: url("img/Wall.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.goal {
	background-color: #88cc33;
	background-image: url("img/Star.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.shieldedphysical {
	background-image: url("img/Shield.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.lightcell.shieldedphysical:not(.selectable,.goal) {
	background-color: #dd6666;
}
.darkcell.shieldedphysical:not(.selectable,.goal) {
	background-color: #880000;
}
.shieldedmagical {
	background-image: url("img/Book.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.lightcell.shieldedmagical:not(.selectable,.goal) {
	background-color: #6666dd;
}
.darkcell.shieldedmagical:not(.selectable,.goal) {
	background-color: #000088;
}